{%- comment -%}
Publication highlight include. Usage:
{% include pub-highlight.html publication=publication %}

Publication data should have:
  - label: Venue label (e.g., "SIGMOD '25")
  - title: Paper title
  - authors: Author list
  - venue: Publication venue
  - pdf: Optional PDF link
  - link: Optional link
  - poster: Optional poster link
  - slides: Optional slides link
  - award: Optional award text
  - desc: Optional description
  - github: Optional GitHub link
{%- endcomment -%}<div class="pub-highlight-card">
  <div class="pub-highlight-venue-col">
    <span class="pub-highlight-venue">{{ include.publication.label }}</span>
    <div class="pub-highlight-links">
      {%- if include.publication.pdf -%}
        {%- if include.publication.pdf contains "http" -%}
          <a href="{{ include.publication.pdf }}"><span class="fa fa-file-pdf"></span> PDF</a>
        {%- else -%}
          <a href="{{ site.url }}/{{ include.publication.pdf }}"><span class="fa fa-file-pdf"></span> PDF</a>
        {%- endif -%}
      {%- endif -%}
      {%- if include.publication.link -%}
        <a href="{{ include.publication.link }}"><span class="fa fa-up-right-from-square"></span> Link</a>
      {%- endif -%}
      {%- if include.publication.poster -%}
        <a href="{{ site.url }}/{{ include.publication.poster }}"><span class="fa fa-file-pdf"></span> Poster</a>
      {%- endif -%}
      {%- if include.publication.slides -%}
        <a href="{{ site.url }}/{{ include.publication.slides }}"><span class="fa fa-file-pdf"></span> Slides</a>
      {%- endif -%}
      {%- if include.publication.github -%}
        <a href="{{ include.publication.github }}"><span class="fa fa-code-branch"></span> GitHub</a>
      {%- endif -%}
    </div>
  </div>
  <div class="pub-highlight-main">
    <div class="pub-highlight-title">{{ include.publication.title }}</div>
    <div class="pub-highlight-authors">{{ include.publication.authors }}</div>
    <div class="pub-highlight-venue-text">{{ include.publication.venue }}</div>
    {%- if include.publication.award -%}
      <div class="pub-highlight-award">{{ include.publication.award }}</div>
    {%- endif -%}
    {%- if include.publication.desc -%}
      <div class="pub-highlight-desc">{{ include.publication.desc }}</div>
    {%- endif -%}
  </div>
</div>
